@import "~src/styles";

.execution {
  flex: 1;
  display: flex;

  &__input {
    flex: 0 0 61.07%;
    max-width: 61.07%;
  }

  &__output {
    flex: 0 0 38.93%;
    max-width: 38.93%;
  }

  &__input {
    display: flex;
    flex-direction: column;
    padding: map-get($spacers, 10);

    .breadcrumbs {
      margin-bottom: map-get($spacers, 4);
    }

    .text {
      margin-bottom: map-get($spacers, 6);

      span {
        @extend %label;
      }
    }

    &-action {
      margin-top: map-get($spacers, 6);
    }
  }

  &__title {
    @extend %h2;
    margin-bottom: map-get($spacers, 3);
  }

  &__output {
    padding: map-get($spacers, 10);
    background-color: $primary-5;
    border-left: 1px solid $grey;
  }
}

// PARAMETER
.parameter {
  display: flex;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: map-get($spacers, 6);
  }

  &__label {
    flex: 0 0 160px;
    padding-right: map-get($spacers, 5);
  }

  &__input {
    flex: 1;
  }
}
