<header class="header">
  <div class="container container__fluid">
    <div class="header__inner">
      <a [routerLink]="['/']" class="header__logo for__img">
        <img
          src="../../assets/images/logo.svg"
          alt="DocuSign logo"
          width="150px"
        />
      </a>
      <nav class="header__nav">
        <ul class="header__menu">
          
          <li class="header__menu-item" [routerLinkActive]="['link-active']">
            <a
              class="header__menu-link"
              href="{{ 'GITHUB_LINK' | translate }}"
               target="_blank"
              translate
            >
              LINKS
              <mat-icon aria-hidden="false" aria-label="external link"
                >launch</mat-icon
              >
            </a>
          </li>
          <li class="header__menu-item" [routerLinkActive]="['link-active']">
            <a
              class="link"
              mat-raised-button
              color="primary"
              disableRipple
              *ngIf="(isLoggedIn | async) === false"
              href="/account/login?returnUrl={{ url }}"
            >
              {{ "LOGIN" | translate }}
              <mat-icon aria-hidden="false" aria-label="external link"
                >arrow_right_alt</mat-icon
              >
            </a>
            <a
              class="link"
              mat-raised-button
              color="primary"
              disableRipple
              *ngIf="isLoggedIn | async"
              [routerLink]=""
              (click)="logout()"
            >
              {{ "LOGOUT" | translate }}
              <mat-icon aria-hidden="false" aria-label="external link"
                >arrow_right_alt</mat-icon
              >
            </a>
          </li>
          <li class="header__menu-item">
            <a
            class="text"
            color="primary"
            *ngIf="isLoggedIn | async"
          >
            {{loggedUserName | async}}
            <br>
            {{loggedEmail | async}}
          </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
