<div class="filter">
  <div class="filter__title" translate>FILTER.AREA</div>
  <ul class="filter__list">
    <li class="filter__item" *ngFor="let area of areasFiltersToDisplay">
      <button
        class="filter__button"
        [class.selected]="isAreaSelected(area.name)"
        (click)="filterByArea(area.name)"
      >
        {{ area.name }} ({{ area.amount }})
      </button>
    </li>
  </ul>
  <button
    class="filter__exp"
    (click)="toggleFilters()"
    *ngIf="showSeeMoreButton"
  >
    {{
      isExpanded
        ? ("FILTER.VIEW_LESS" | translate)
        : ("FILTER.VIEW_MORE" | translate)
    }}
    <mat-icon aria-hidden="false">{{
      isExpanded ? "expand_less" : "expand_more"
    }}</mat-icon>
  </button>
</div>
